{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1>Welcome</h1>
    <form action="">
    <!-- Common Fields -->
    <div id="commonFields">
      <label>First Name</label>
      <input type="text" name="first_name" placeholder="Enter your first name" required>

      <label>Middle Name</label>
      <input type="text" name="middle_name" placeholder="Enter your middle name" required>

      <label>Last Name</label>
      <input type="text" name="last_name" placeholder="Enter your last name" required>

      <label>Gender</label>
      <select name="gender" required>
        <option value=""> Please Select </option>
        <option>Male</option>
        <option>Female</option>
      </select>

      <label>Email</label>
      <input type="email" name="email" placeholder="example@strathmore.edu" required>

      <label>Phone Number</label>
      <input type="tel" name="phone" placeholder="e.g. +254712345678" required>
    </div>

     <!--   Title Selector -->
      <label for="title">Select Role</label>
      <select id="title" name="title" required>
        <option value=""> Please Select </option>
        <option value="student">Strathmore Student</option>
        <option value="club_leader">Strathmore Club Leader</option>
        <option value="staff">Strathmore Staff</option>
      </select>

    

    <!-- Student & Club Leader Fields -->
    <div id="studentFields" class="hidden">
      <label>Faculty</label>
      <select name="faculty">
        <option value=""> Please Select </option>
        <option>Faculty of Information Technology</option>
        <option>Faculty of Law</option>
        <option>School of Humanities and Social Sciences</option>
        <option>School of Tourism and Hospitality</option>
        <option>School of Finance and Applied Economics</option>
        <option>School of Computing and Engineering Sciences</option>
      </select>

      <label>Course Level</label>
      <select id="courseLevel" name="course_level">
        <option value=""> Please Select </option>
        <option>Undergraduate</option>
        <option>Graduate</option>
        <option>Diploma</option>
        <option>Professional Course</option>
      </select>

      <!-- Degree Courses -->
      <label>Degree Courses</label>
      <select id="degreeCourses" name="degree_course" class="hidden">
        <option value=""> Please Select </option>
        <option>Bachelor of Commerce</option>
        <option>Bachelor of Science in Tourism Management</option>
        <option>Bachelor of Science in Hospitality and Hotel Management</option>
        <option>Bachelor of Business Science: Financial Engineering</option>
        <option>Bachelor of Business Science: Financial Economics</option>
        <option>Bachelor of Business Science: Actuarial Science</option>
        <option>Bachelor Of Science In Informatics And Computer Science</option>
        <option>Bachelor Of Business Information Technology</option>
        <option>Bachelor of Science in Computer Networks and Cyber Security (BSc. CNS)</option>
        <option>Bachelor of Science in Statistics and Data Science</option>
        <option>Bachelor of Laws</option>
        <option>Bachelor of Arts in Communication</option>
        <option>Bachelor of Arts in International Studies</option>
        <option>Bachelor of Arts in Development Studies and Philosophy</option>
        <option>Bachelor of Science in Supply Chain and Operations Management</option>
        <option>Bachelor of Financial Services</option>
        <option>Bachelor Of Science In Electrical and Electronics Engineering</option>
      </select>

      <!-- Graduate Courses -->
      <label>Graduate Courses</label>
      <select id="graduateCourses" name="graduate_course" class="hidden">
        <option value=""> Please Select </option>
        <option>Master of Science in Computing and Information Systems (MSc CIS)</option>
        <option>Master of Science in Information Technology (MSc.IT)</option>
        <option>Master of Science in Statistical Science</option>
        <option>Master of Science in Mathematical Finance and Risk Analytics</option>
        <option>Master of Science in Biomathematics</option>
        <option>Master of Applied Philosophy and Ethics (MAPE)</option>
        <option>Master of Science in Education Management (MSc.EM)</option>
        <option>Master of Commerce (MCOM)</option>
        <option>Master of Laws</option>
        <option>Master of Science in Information Systems Security (MSc ISS)</option>
        <option>Master of Management in Agribusiness</option>
        <option>Master's in Public Policy and Management</option>
        <option>Master of Science in Development Finance</option>
        <option>MBA – Healthcare Management</option>
        <option>MBA for Executives</option>
        <option>Master in Hospitality Business Management (MHBM)</option>
        <option>Master of Science in Data Science and Analytics (MSc DSA)</option>
        <option>Master of Science in Sustainable Energy Transitions (MSc. SET)</option>
        <option>Master of Arts in Diplomacy, Intelligence and Security (MDIS)</option>
        <option>Master of Arts in International Relations (MAIR)</option>
      </select>

      <!-- Diploma Courses -->
      <label>Diploma Courses</label>
      <select id="diplomaCourses" name="diploma_course" class="hidden">
        <option value=""> Please Select </option>
        <option>Diploma in Business Creation and Entrepreneurship</option>
        <option>Diploma in International Relations</option>
        <option>Diploma in Business Management</option>
        <option>Diploma in Business Information Technology</option>
      </select>

      <!-- Professional Courses -->
      <label>Professional Courses</label>
      <select id="professionalCourses" name="professional_course" class="hidden">
        <option value=""> Please Select </option>
        <option>CPA: Certified Public Accountants</option>
        <option>ACCA: Association of Chartered Certified Accountants</option>
        <option>CFA: Chartered Financial Analyst</option>
        <option>CISA: Certified Information Systems Auditor</option>
        <option>CISM: Certified Information Security Manager</option>
        <option>CIM: Chartered Institute of Marketing</option>
        <option>TEP: Teacher Enhancement Programme</option>
        <option>Certificate in Data Science (ICDS)</option>
        <option>International Computer Driving License (ICDL)</option>
        <option>Certificate in Computer Applications (CCA)</option>
        <option>Film-making and Life Skills</option>
        <option>Culinary Arts</option>
        <option>Certificate in Penetration Testing (ICPT)</option>
        <option>Computer Hacking Forensics Investigator (CHFI)</option>
        <option>Certified Ethical Hacking</option>
      </select>

      <label>Year of Study</label>
      <select name="year_of_study">
        <option value=""> Please Select </option>
        <option>Year 1</option>
        <option>Year 2</option>
        <option>Year 3</option>
        <option>Year 4</option>
        <option>Year 5</option>
      </select>

      <label>Expected Year of Completion</label>
      <input type="text" name="expected_completion" placeholder="e.g. 2027">

      <label>Interests</label>
      <select name="interests">
        <option value=""> Please Select </option>
        <option>Arts & Creative</option>
        <option>Finance Business and Entrepreneurship</option>
        <option>Language</option>
        <option>IT Innovation and Research</option>
        <option>Environment and Sustainability</option>
        <option>Tourism and Hospitality</option>
        <option>Mental Health and First Aid</option>
      </select>
    </div>

    <!-- Club Leader Extra Fields -->
    <div id="clubLeaderFields" class="hidden">
       <label>Club Category</label>
      <select name="club_category">
        <option value=""> Please Select </option>
        <option>Arts & Creative</option>
        <option>Finance Business and Entrepreneurship</option>
        <option>Language</option>
        <option>IT Innovation and Research</option>
        <option>Environment and Sustainability</option>
        <option>Tourism and Hospitality</option>
        <option>Mental Health and First Aid</option>
      </select>

      <label>Club Name</label>
      <input type="text" name="club_name" placeholder="Enter your club's name">

      <label>Club Role</label>
      <select name="club_role">
        <option value=""> Please Select </option>
        <option>President</option>
        <option>Vice President</option>
        <option>Secretary</option>
        <option>Communications Lead</option>
        <option>Membership Coordinator</option>
        <option>Marketing Lead</option>
      </select>
    </div>

    <!-- Staff Only Fields -->
    <div id="staffFields" class="hidden">
      <label>Staff ID</label>
      <input type="text" name="staff_id" placeholder="Enter your staff ID number">

      <label>Department</label>
      <input type="text" name="department" placeholder="Enter your department name">
    </div>

    <input type="submit" value="Submit" class="btn btn-login" />
    <input type="button" value="LogIn" class="btn btn-login" />
  </form>


    </form>
</div>

{% endblock %}